<style type="text/css">
    body {
      background-color: #dac;
      color: #222;
      font-family: "helvetica", sans-serif;
    }
    span {
      width: 100%;
    }
</style>

<header id="masthead">
  <span id="subpages">
    <div id="page1">Page 1</div>
    <div id="page2">Page 2</div>
    <div id="page3">Page 3</div>
  </span>
  <h1>Welcome to Luke's Cool Website</h1>
  <h3>I hope you enjoy your stay!</h3>
  <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Or click here to go to youtube instead</a></p>
</header>
