<style type="text/css">
    body {
      font-family: helvetica;
    }
</style>

<header id="masthead">
  <h1>Welcome to Luke's Cool Website</h1>
  <h3>I hope you enjoy your stay!</h3>
  <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Or click here to go to youtube instead</a></p>
</header>
