<style type="text/css">
  body {
    background-color: #dac;
    color: #222;
    font-family: "helvetica", sans-serif;
  }

  #masthead{
    padding: 10%;
    left: 20%;
    border: 2px solid #222;
  }
  #subpages {
    border: 2px solid #222;
    border-bottom: 0px solid #222;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: left; /* Safari 6.1+ */
    display: flex;
    justify-content: left;
  }
  #subpages>button {
    width: 15%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 0px;
    padding: 5px;
    background-color: #dac; /* Green */
    color: #222;
  }
  #subpages>button:hover {
    background-color: #fce; /* Green */
  }
</style>

<div id="subpages">
  <button id="page1">Page 1</button>
  <button id="page2">Page 2</button>
  <button id="page3">Page 3</button>
</div>

<header id="masthead">
  <h1>Welcome to Luke's Cool Website</h1>
  <h3>I hope you enjoy your stay!</h3>
  <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Or click here to go to youtube instead</a></p>
</header>

<marquee width="100%" direction="left" height="100px">
Whee!
</marquee>

<script>

</script>
