<style type="text/css">
  body {
    background-color: #dac;
    color: #222;
    font-family: "helvetica", sans-serif;
  }

  #masthead{
    /*display: -webkit-flex; /* Safari */
    /*-webkit-justify-content: center; /* Safari 6.1+ */
    /*display: flex;*/
    justify-content: center;
  }
  #subpages {
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: left; /* Safari 6.1+ */
    display: flex;
    justify-content: left;
  }
  #subpages>div {
    width: 15%;
  }
</style>

<div id="subpages">
  <div id="page1">Page 1</div>
  <div id="page2">Page 2</div>
  <div id="page3">Page 3</div>
</div>

<header id="masthead">
  <h1>Welcome to Luke's Cool Website</h1>
  <h3>I hope you enjoy your stay!</h3>
  <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Or click here to go to youtube instead</a></p>
</header>
