<style type="text/css">
  body {
    background-color: #dac;
    color: #222;
    font-family: "helvetica", sans-serif;
  }
</style>

<h2>This is page 2 (The sassy one)</h2>
<ul>
  <li>This is the unordered list.
  <li>It contains a way too many items.
  <li>I have a hard time with big numbers.
  <li>What comes after three again?
</ul>
