<style type="text/css">
  body {
    background-color: #dac;
    color: #222;
    font-family: "helvetica", sans-serif;
  }

  #scrollbox {
    height: 100px;
    width: 250px;
    border: 1px solid #222;
    overflow: auto;
  }
</style>

<h1>This is page 1!</h1>
<div id="scrollbox">
Although this page doesn't really have any purpose at the moment, I think it
would be best to fill the box to the point that the scroll bar actually shows
up. The good news is that line breaks in the code don't carry into the box,
but the bad news is that there still aren't enough letters to fill the dang box.
I could have just made the box smaller,
</div>
