<style type="text/css">
  body {
    background-color: #dac;
    color: #222;
    font-family: "helvetica", sans-serif;
  }

  #subpages {
    border: 2px solid #222;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: left; /* Safari 6.1+ */
    display: flex;
    justify-content: left;
  }

  #subpages>button {
    width: 15%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 0px;
    padding: 5px;
    background-color: #dac; /* Pink */
    color: #222;
  }

  #subpages>button:hover {
    background-color: #fce; /* Lighter pink */
  }

</style>

<div id="subpages">
  <button id="page1">Home Page</button>
  <button id="page2">Scroll Box</button>
  <button id="page3">Form/Download</button>
</div>

<h2>This is page 2 (The sassy one)</h2>
<ul>
  <li>This is the unordered list.
  <li>It contains a way too many items.
  <li>I have a hard time with big numbers.
  <li>What comes after three again?
</ul>

<script type="text/javascript">
  document.getElementById("page1").onclick = function () {
    location.href = "http://flip3.engr.oregonstate.edu:42066/";
  };
  document.getElementById("page2").onclick = function () {
    location.href = "http://flip3.engr.oregonstate.edu:42066/page1";
  };
  document.getElementById("page3").onclick = function () {
    location.href = "http://flip3.engr.oregonstate.edu:42066/page3";
  };
</script>
